.inputbox-wrap{
    padding-top:3rem;
    
}

.listbox-button{
    border: solid 2px #0070ff;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    font-size: 13px;
    
}
.listbox-button:hover{
    cursor: pointer;
    
}
.listbox-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    
   }
   
   .listbox-title{
       font-size: 20px;
   }
  
  .listbox-inputs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 18px;
    
  }

  .listbox-inputs input{
  margin: 4px;
  padding: 8px;
      
      border: 2px solid silver;
      width: 30vw;
  }
 
  .listbox-elements{
    padding-left: 4px;
    padding-right: 4px;
    color:black;
    }
    
  .altcolor{
    color:gray;
  }
    
  
  
  
  .inputbox-elements{
    padding:5px;
    margin: 1px;
  }
  .input-wrapper{
      
 
  }
  .card {
    position: relative;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: white;
    color:black;
    border: black 1px solid;
  }

@media(max-width:1024px){
.inputbox-wrap{margin: 0%;}
}