body{
  color:gray;
}
div{
  color:black;
}
.temp{
color: black;
}

h1{
  text-align: right;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}



.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.list-item{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  
 }
 .list-subitem{
  display:flex;
   flex-direction: row;
   justify-content: center;
  
}
.name-top-handler{
  display: flex;
  flex-direction: column;
  }

.list-index{
  padding: 0px 10px 0 0;
  align-self: center;
}
.list-elements{
  padding-left: 4px;
  padding-right: 4px;
  color:black;
  }
  
.altcolor{
  color:gray;
}
  



.input-elements{
  padding:5px;
  margin: 1px;
}
.input-wrapper{
    
  display:flex;
  flex-direction: column;
   align-content: center;
     
}
.card {
  position: relative;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  color:black;
  border: black 1px solid;
}

